/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



*{
    margin: 0;
    padding: 0;
    
}
.left{
    float: left;
}

.right{
    float: right;
    
}

body{
    
    font-family:  'Quicksand', sans-serif;
}

@font-face{
    
    font-family:"ARDECODE";
    src:url(../fonts/ARDECODE.ttf)
}



header{
    background-color: #2a2e33;
    min-height: 100px;
    
    overflow: hidden;
}
.wrapper{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;

}



.logo {
    
    float: left;
    width: 35%;
    margin: 40px auto;
    color: #636669;
}

.sub-title {
    
    margin-left: 5px;
}

.nav {
    float: right;
    width: 56%;
    
   
}


.nav ul {
    
    float: left;
    
    
}


.nav ul li {
    
    float: left;
    list-style: none;
     padding: 40px 18px;
    
}
.nav ul li:hover{
    border-top: 4px solid yellow;
    background-color: #1e2329;
    
}

.nav ul li a{
  text-decoration: none;  
     color: #ffffff;
   
    font-family: 'DroidSans', sans-serif;
    font-size: 13px;
}





#banner {
    min-height: 500px;
    background-color:#00ccff;
    position: relative;
}

#select_room_type {
      width:255px;
    height: 45px;
    border-radius: 13px;
    border: none;
    appearance:none;
   -moz-appearance:none;
    -webkit-appearance:none;
     background: url(../img/select_icon.png) no-repeat;
    background-position: 5%;
    background-color: white;
    padding-left: 11%;
}
#select_room_type select{
   
    
}

#package {
    
    min-height: 598px;
    background: url(../img/room-book-bg.jpg) no-repeat center center ;
    border-bottom:2px solid #949698;
    overflow: hidden;
    background-size: cover;
    background-position: cover;
    
}

#room_types {
  min-height: 841px;
    background: url(../img/room-type-bg.jpg) no-repeat center center ;
    overflow: hidden;
    background-position: cover;
    background-size: cover;
}

#testimonial {
    background-color:#e7cb2c;
    height: 186px;
    
 
}
.banner_caption {
    width: 740px;
    height: 248px;
    margin: 0 auto;
    text-align: center;
    padding-top: 75px;
    
    
}

.welcome_txt {
    font-family: quicksand;
    font-weight: normal;
    font-size: 30pt;
    color: white;
}

.caption_title {
    font-family: Droid sans;
    font-weight: bold;
    font-size: 60pt;
    color: white;
}

.facilities {
       font-family: quicksand;
    font-weight: normal;
    font-size: 30pt;
    color: white;
}

.view_pricing {
    background-color: #2a2e33;
    width: 1019px;
    height: 102px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -10%;
}

.form_group {
    float: left;
    margin-left: 18px;
    
}
.form_group label{
    font-family: Quicksand;
    font-weight: 400;
    color: yellow;
    font-size: 18pt;
    
}

.common_date_style {
    width:255px;
    height: 45px;
    border-radius: 13px;
    border: none;
    background: url(../img/calender-icon.png) no-repeat;
    background-color: white;
    background-position: 5%;
    overflow: hidden;
}

.view_price_btn {
    width: 160px;
    height: 42px;
    background-color: #ffd700;
    font-family: Droid sans;
    border: none;
    font-size: 18pt;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 33px;
}

.package_title {
    width: 1182px;
    height: 110px;
    text-align: center;
    margin: 95px auto;
    
    
    
}
.package_title h1{
    font-family: ARDECODE;
    font-size: 60pt;
    color: #2a2e33;
    margin: 0px ;
    
}
.package_title p{
    font-family: Quicksand regular;
    font-size: 14px;
    color: #2a2e33;
    
}


.package_slider {
    
    height: 230px;
    width: 1045px;
    margin: 0 auto;
}

.left_indicator {
    margin-top: 7%;
}

.single_item {
    float: left;
    height: 215px;
    width: 215px;
    background-color: white;
    border: 3px solid black;
    border-radius: 140px;
    margin-left: 6.1%;
}


.right_indicator {
     margin-top: 7%;
}

.room_types_title {
    width:450px;
    height: 75px;
  
    margin: 0px auto;
    
}
.room_types_title h1{
   margin: 0px; 
       font-family: ARDECODE;
    font-size: 60pt;
    color: #2a2e33;
    text-align: center;
    padding-top: 25px;
}

.all_room_types {
    width: 1200px;
    height: 580px;
    margin: 0px auto;
    padding-top: 80px;
}

.single_types {
    width: 380px;
    height: 320px;
    float: left;
    margin-left: 20px;
    text-align: center;
    font-size: 14px
}

.room_image {
}

.room_type_data {
    
    
}
.room_type_data h1 {
    font-family: Quicksand;
    font-weight: normal;
    font-size: 24pt;
    margin: 0px;
    
}


.short_intro {
     font-family: Quicksand;
    font-weight: normal;
    font-size: 10pt;
    margin: 0px;
    text-align: center;
}

.room_facilities {

margin-top: 15px;
    
}
.wrapper3{
    width: 1200px;
    margin: 0 auto;
   
   position: relative;

}

.testimonial_data {
    width: 875px;
    height: 95px;
    float: left;
    margin-top: 45px;
    font-family: Quicksand;
    color: white;
    text-align: center;
    
    
}
.testimonial_data h1{
    
    font-weight: 400; 
    font-size: 36pt;
    margin: 0px;
    
    
}

.comments {

    font-weight: normal;
}

.author {
    font-weight: normal;
    
}

.person_image {
    position: absolute;
    right: -30px;
    bottom: -193px;
}


footer{
    background-color: #333333;
    min-height: 415px;
    
    color: white;
    overflow: hidden;
}

.wrapper2{
    
    width: 1250px;
    margin: 0 auto;
    padding-top: 25px;
    min-height: 300px;
color:  #ebebeb;
}

.about_hotel {
    width:245px;
    height: 200px;
    float: left;
    float: left;
    
}
.about_hotel h1,.latest_news h1,.join_delux h1,.member_area h1{
    font-family: Droidsand;
    font-size: 18pt;
    
}
    
    


.footer_description {
    float: left;
    font-size: 10pt;
    text-align: left;
    margin-top: 15px;
    font-family: Quicksand;
}

.latest_news {
    width:220px;
    height: 200px;
    float: left;
    margin-left: 10px;
}

.single_news {
      float: left;
    font-size: 10pt;
    text-align: left;
    margin-top: 15px;
    font-family: Quicksand;

}

.date {
     font-family: Quicksand;
     font-size: 10pt;
    color: #635c31;
}

.join_delux {
    width: 460px;
    height: 200px;
    float: left;
}

.footer_discription {
}

.read_more {
    width: 145px;
    height: 38px;
    border-right: none;
    border-radius: 10px;
    background-color:  #ffd700;
    font-family: Quicksand;
    font-size: 14pt;
    color: black;
    font-weight: bold;
    margin-top: 25px;
}

.member_area {
    width: 210px;
    height: 200px;
    float: left;
    margin: 0px;
    margin-left: 20px;
}
.member area 

.member_form_group {
}
.member_form_group label {
    
    font-family: Quicksand;
    font-weight: normal;
    font-size: 12pt;
   color:  #ebebeb;
    
    
}

.username {
        margin: 9px 0px;
    background-color: transparent;
    border: 2px solid #232323;
    border-radius: 10px;
    width: 205px;
    height: 32px;
}

.password {
        margin-top: 9px;
     background-color: transparent;
    border: 2px solid #232323;
    border-radius: 10px;
    width: 205px;
    height: 32px;
}

.footer_bottom{
    min-height: 35px;
    background-color: #1f1f1f;
    
    
}











/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
